*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.input-type{
    padding: 10px 20px;
    border: 1px solid green;
    font-weight:500 ;
    font-size: 15px;
}
button{
    background-color: green;
    padding: 12px 40px;
    margin-left: 10px;
    border:none;
    cursor: pointer;
}
.bkc{
    background-color: lightgreen;
    padding: 20px 50px;
    width: 1210px;
    margin: 0 auto;
    height: 130px;
    margin-top: 50px;
}
li{
    list-style: none;
}